
@{
    ViewData["Title"] = "Wishlist";
}
<div class='container-xxl wishlist-wrapper home-wrapper-2 py-5'>
    <div class='row'>
        <div class='col-3'>
            <div class='wishlist-card position-relative'>
                <div class='container-xxl wishlist'>
                    <img src='@Url.Content("~/images/cross.svg")' alt='cross' class='position-absolute cross img-fluid' />
                    <div class='wishlist-card-image'>
                        <img height="214px" width="250px" src='../images/fruit/grapes.jpg' class='img-fluid w-100' alt='product' />
                    </div>
                    <div class='py-3'>
                        <h5 class='title'>
                            Crisp and Juicy Elegance: The Grapes's Exquisite Tale
                        </h5>
                        <h6 class='price'>₹300</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-3'>
            <div class='wishlist-card position-relative'>
                <div class='container-xxl wishlist'>
                    <img src='@Url.Content("~/images/cross.svg")' alt='cross' class='position-absolute cross img-fluid' />
                    <div class='wishlist-card-image'>
                        <img height="214px" width="250px" src='../images/fruit/guava.jpg' class='img-fluid w-100' alt='product' />
                    </div>
                    <div class='py-3'>
                        <h5 class='title'>
                            Crisp and Juicy Elegance: The Guava's Exquisite Tale
                        </h5>
                        <h6 class='price'>₹300</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-3'>
            <div class='wishlist-card position-relative'>
                <div class='container-xxl wishlist'>
                    <img src='@Url.Content("~/images/cross.svg")' alt='cross' class='position-absolute cross img-fluid' />
                    <div class='wishlist-card-image'>
                        <img height="214px" width="250px" src='@Url.Content("~/images/fruit/honeydewmelon.jpg")' class='img-fluid w-100' alt='product' />
                    </div>
                    <div class='py-3'>
                        <h5 class='title'>
                            Crisp and Juicy Elegance: The Honeydewmelon's Exquisite Tale
                        </h5>
                        <h6 class='price'>₹300</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-3'>
            <div class='wishlist-card position-relative'>
                <div class='container-xxl wishlist'>
                    <img src='@Url.Content("~/images/cross.svg")' alt='cross' class='position-absolute cross img-fluid' />
                    <div class='wishlist-card-image'>
                        <img height="214px" width="250px" src='@Url.Content("~/images/fruit/apple.jpg")' class='img-fluid w-100' alt='product' />
                    </div>
                    <div class='py-3'>
                        <h5 class='title'>
                            Crisp and Juicy Elegance: The Apple's Exquisite Tale
                        </h5>
                        <h6 class='price'>₹300</h6>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

